<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
    <title>Mkae a new listing</title>
</head>
<body>
    <div class='container'>
        <h1>Find a Car!</h1>
        <form action='/listingresult'>
            <div class='form-group'>
                <label for='make_model'>Enter Make/Model:</label>
                <input id='make_model' name='make_model' class='form-control' type='text'>
                <label for='price'>Enter Price:</label>
                <input id='price' name='price' class='form-control' type='number'>
                <label for='listingMilage'>Enter Mileage:</label>
                <input id='listingMilage' name='listingMilage' class='form-control' type='number'>

            </div>
            <button type='submit' class='btn-success'>Submit</button>
        </form>





    </div>
</body>
</html>
